@model TaskManagementSystem.Models.Employee

<div class="modal-content">
    <h2>Reset Password</h2>
    <p>Please enter your email address below. We will send you a link to reset your password.</p>
    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { id = "forgotPasswordForm" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-group">
            @Html.LabelFor(m => m.Email, "Email")
            @Html.TextBoxFor(m => m.Email, new { type = "email", required = "required" })
            @Html.ValidationMessageFor(m => m.Email)
        </div>
        <button type="submit">Reset Password</button>
        <button type="button" onclick="closeModal()">Cancel</button>
    }
</div>
