<div id="loginModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Password Reset</h2>
        <p>Password Reset successfully, You will be now redirected to the Login Page Shortly.</p>
    </div>
</div>
